* {
  box-sizing: border-box;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mainbox {
  width: 1060px;
  height: 1170px;
  background-color: #f2f2f2;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
  margin: 86px auto 135px;
}

.header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 700;
  color: black;
  margin: 41px 0 37px;
  text-align: center;
}

.division-line {
  width: 650px;
  border: 2px solid #bdbdbd;
  margin: 0 auto 28px;
}

.nav ul {
  width: 372px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 28px;
  color: #828282;
  font-weight: 500;
  line-height: 18.75px;
  font-family: "Roboto", sans-serif;
}

.nav ul li:first-child {
  font-weight: 900;
  color: black;
}

.main {
  width: 1003px;
  height: 962px;
  margin-left: 29px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #bdbdbd;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 220px;
  margin: 26px 0 0 27px;
  gap: 23px 24px;
  position: relative;
}

.movie_list {
  border: 1px solid #bdbdbd;
  width: 220px;
  height: 441px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 19px 20px 0 20px;
  position: relative;
}
article img {
  width: 180px;
  height: 250px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #bdbdbd;
}

article h3 {
  font-family: "Noto Sans KR", sans-serif;
  color: black;
  font-weight: 900;
  font-size: 16px;
  line-height: 23.17px;
  padding: 11px 0 12px 0;
}

article dt {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18.32px;
  color: #828282;
  margin-right: 5px;
}
article dd {
  font-family: "Noto Sans KR", sans-serif;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.82px;
}

article dl {
  display: flex;
  flex-direction: column;
}

.list-info,
.list-star,
.list-date,
.list-ch {
  display: flex;
  margin-bottom: 5px;
}

.info_star {
  display: flex;
  justify-content: space-between;
}

.list-star dd::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(./images/STARIMAGES/별점이미지.png);
  display: inline-block;
  margin-right: 4px;
}

.bottombt {
  display: flex;
  position: absolute;
  top: 400px;
  border: 1px solid #bdbdbd;
  border-radius: 0 0 10px 10px;
  left: -1.5px;
}
.trailer,
.booking {
  width: 109px;
  height: 41px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trailer {
  border-left: 1px solid #bdbdbd;
  border-radius: 0 0 10px 0;
}

.booking {
  border-radius: 0 0 0 10px;
}
.trailer::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(./images/MOVIELIST/아이콘_재생.png);
  display: inline-block;
  margin-right: 2px;
  background-size: contain;
}

.bottombt a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20.27px;
  font-weight: 500;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
}

.footer {
  width: 1920px;
  height: 213px;
  background-color: #f2f2f2;
  margin: auto;
  position: relative;
}

.footer01 h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 25.78px;
  color: black;
  margin-right: 926px;
}
.footer01 {
  padding: 53px 0 0 365px;
  display: flex;
}
.sns img {
  width: 24px;
  margin-right: 22px;
}
.sns {
  display: flex;
  justify-content: space-between;
}

.footer .division-line {
  position: absolute;
  width: 1189px;
  left: 366px;
  border: 1px solid #c4c4c4;
  margin: 42px 0 36px 0;
}

address > ul {
  display: flex;
  margin-right: 440px;
}

.footer02 {
  display: flex;
  margin: 78px 0 38px 365px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.27px;
}

.footer02 span {
  font-weight: 700;
}

address > ul > li:not(:first-child)::before {
  content: "  |  ";
  margin: 0 5px;
}

footer p {
  font-size: 14px;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}
